<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf 8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mercado Liebre </title>
        <link href= "css/styles.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
        
    </head>
<body>
    <main>
    <header>
        <nav>
            <div class="flex">
              <div class="flex_header">  
                <img class="logo" src="images/logo-mercado-liebre.svg">

                <div class="search_engine">
                    <form  class="busqueda"action="#" method="GET">
                        <input type="text" name="search_bar" placeholder="Buscar productos, marcas y más>">
                    <div class="submit">
                        <button><i class="fa fa-search"></i>
                        </div></button>
               
              </form>
            </div> 
        </div>
                 <div class="enCuotas_flex">
                    <div class="icono"><i class="fas fa-hand-holding-usd"></i> </div>
                    <div class="texto"> Comprá en cuotas y sin tarjeta de crédito </div>
                </div>
            </div>

            </div>

            <div class="option_flex">    
                <div class="cuerpo_de_texto_flex_a">
                    <ul class="flex_ul">
                         <li><a href="#">Ofertas</a></li>
                         <li><a href="#">Tiendas oficiales</a></li>
                         <li><a href="#">Vender</a></li>
                         <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>

                <div class="cuerpo_de_texto_flex_b">
                    <ul class="flex_ul_login">
                        <li><a href="register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                        <li><a href="login"> Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </div>
            </div>

                <div class="burger-menu">           
                 <i class="fas fa-bars"></i>
                </div>      

    <section>
        <img class="banner" src="images/img-home-banner.jpg">
    </section>
    </nav>
</header>

<section class="cuerpo">
    <h2>Basado en tu última visita</h2>
        <nav>
            <section class="article_flex">
             <article class="productos_flex">
                <img class="img-de-prod"  src = "images/img-cafetera-moulinex.jpg">
                 <div class="elem-de-caja">
                  <i class="fa-solid fa-truck"></i>
                  <div class="flex_prod">
                  <p class = "precio_w30">$6.770</p>
                  <p class = "descuentos_w70">40% OFF</p>
                </div>
                  <p class="descripcion">Cafetera Moulinex</p>
                 </div>
            </article>

            <article class="productos_flex">
                <img class="img-de-prod" src="images/img-macbook-pro-2019.jpg">
                <div class="elem-de-caja">
                 <i class="fa-solid fa-truck"></i>
                 <div class="flex_prod">
                    <p class = "precio_w30">$230.000</p>
                    <p class = "descuentos_w70">20% OFF</p>
                </div>
                 <p class = "descripcion">MacBook Pro 2019</p>
                
                </div>
            </article>

            <article class="productos_flex">
                <img class="img-de-prod" src="images/img-samsung-galaxy-s10.jpg">
                <div class="elem-de-caja">
                <i class="fa-solid fa-truck"></i>
                <div class="flex_prod">
                 <p class = "precio_w30">$70.500</p>
                 <p class = "descuentos_w70">10% OFF</p>
                </div>
                 <p class = "descripcion">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="productos_flex">
                <img class="img-de-prod" src="images/img-tv-samsung-smart.jpg">
                <div class="elem-de-caja">
                    <i class="fa-solid fa-truck"></i>
                    <div class="flex_prod">
                 <p class = "precio_w30">$23.200</p>
                 <p class = "descuentos_w70">5% OFF</p>
                </div>
                 <p class = "descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        </nav>
</section>
<section   class="cuerpo">
    <h2>Ofertas</h2>

    <section class="article_flex"> 
            <article class="productos_flex">
                <img class="img-de-prod" src="images/img-cafetera-moulinex.jpg">
                <div class="elem-de-caja">
                    <i class="fa-solid fa-truck"></i>
                    <div class="flex_prod">
                 <p class = "precio_w30">$6.770</p>
                 <p class = "descuentos_w70">40% OFF</p>
                </div>
                 <p class = "descripcion">Cafetera Moulinex</p>
                </div>
            </article>
                    
            <article class="productos_flex">
                <img  class="img-de-prod" src="images/img-macbook-pro-2019.jpg">
                <div class="elem-de-caja">
                    <i class="fa-solid fa-truck"></i>
                    <div class="flex_prod">
                 <p class= "precio_w30">$230.000</p>
                 <p class= "descuentos_w70">20% OFF</p>
                </div>
                 <p class = "descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            
            <article class="productos_flex">
                <img class="img-de-prod" src="images/img-samsung-galaxy-s10.jpg">
                <div class="elem-de-caja">
                    <i class="fa-solid fa-truck"></i>
                    <div class="flex_prod">
                <p class= "precio_w30">$70.500</p>
                <p class= "descuentos_w70">10% OFF</p>
            </div>
                <p class = "descripcion">Samsung Galaxy S10</p>
            </div>
            </article>
    
            <article class="productos_flex">
                <img class="img-de-prod"  src="images/img-tv-samsung-smart.jpg">
                <div class="elem-de-caja">
                    <i class="fa-solid fa-truck"></i>
                    <div class="flex_prod">
                  <p class= "precio_w30">$23.200</p>
                  <p class= "descuentos_w70">5% OFF</p>
                </div>
                  <p class = "descripcion">SmartTv Samsung 43"</p>
            </div>
            </article>
       </section>

        </nav>
</section>

<footer>

    <section class="footer_part">
    <div class="modo_de_pago">
         <p class="images"><i class="fa-solid fa-credit-card"></i></p>
        <h3>Pagá en tarjeta o efectivo</h3>
            <p class="del-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="envios">
        <p class="images"><i class="fa-solid fa-gift"></i></p>
        <h3>Envios gratis desde $2.500</h3>
            <p class="del-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos_flex. Es un beneficio de Mercado Puntos.</p>
     </div>
     <div class="devolucion">
        <p class="images"><i class="fa-solid fa-user-shield"></i></p>
        <h3>Seguridad, de principio a fin </h3>
            <p class="del-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
</section>
    <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     </div>
</footer>
</main>
</body>
</html>
