<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf 8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mercado Liebre </title>
        <link href= "css/styles.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
        
    </head>
<body>
    <main>
    <header>
        <nav>
            <div class="flex">
              <div class="flex_header">  
                <img class="logo" src="images/logo-mercado-liebre.svg">

                <div class="search_engine">
                    <form  class="busqueda"action="#" method="GET">
                        <input type="text" name="search_bar" placeholder="Buscar productos, marcas y más>">
                    <div class="submit">
                        <button ><i class="fa fa-search"></i></button>
                        </div>
               
              </form>
            </div> 
        </div>
                 <div class="enCuotas_flex">
                    <div class="icono"><i class="fas fa-hand-holding-usd"></i> </div>
                    <div class="texto"> Comprá en cuotas y sin tarjeta de crédito </div>
                </div>
            </div>

            </div>

            <div class="option_flex">    
                <div class="cuerpo_de_texto_flex_a">
                    <ul class="flex_ul">
                         <li><a href="#">Ofertas</a></li>
                         <li><a href="#">Tiendas oficiales</a></li>
                         <li><a href="#">Vender</a></li>
                         <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>

                <div class="cuerpo_de_texto_flex_b">
                    <ul class="flex_ul_login">
                        <li><a href="register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                        <li><a href="login"> Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </div>
            </div>

                <div class="burger-menu">           
                 <i class="fas fa-bars"></i>
                </div>      
    </nav>
</header>




<section class="login_section">

    <div class="error">
       <span class="mayus">ERROR </span>
       <span> El usuario o contraseña son incorrectos</span>
       <p><a href="#">¿Olvidaste tu contraseña o nombre de usuario?</a></p>
    </div>


<form action="/" method="post">

    <div class="login_username">
        <input type="text" name="nombredeusuari@"  id="nombredeusuari@" class="login_space" required placeholder="Nombre de usuari@">
        <span class="feedback"></span>
    </div>

    <div class="login_password">
        <input type="password" name="password" id="password" class="login_space" required placeholder="Contraseña ">
        <span class="feedback"></span>
    </div>

    <div >
        <button class="send_button_login" type="submit">ENVIAR</button>
    </div>

</form>

</section>

<footer>

    <section class="footer_part">
    <div class="modo_de_pago">
         <p class="images"><i class="fa-solid fa-credit-card"></i></p>
        <h3>Pagá en tarjeta o efectivo</h3>
            <p class="del-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="envios">
        <p class="images"><i class="fa-solid fa-gift"></i></p>
        <h3>Envios gratis desde $2.500</h3>
            <p class="del-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos_flex. Es un beneficio de Mercado Puntos.</p>
     </div>
     <div class="devolucion">
        <p class="images"><i class="fa-solid fa-user-shield"></i></p>
        <h3>Seguridad, de principio a fin </h3>
            <p class="del-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
</section>
    <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     </div>
</footer>
</main>
</body>
</html>